<section class="index-self">
	<div class="self-header">
		<a href="/search" class="header-search">
			<span class="search-content">输入书名/作者/关键字</span>
		</a>
		<div class="header-change">
			<i class="icon"></i>
		</div>
	</div>
	<div class="self-books">
		<ul class="book-list">
			<li class="book-item">
				<a href="/book">
					<div class="avaitar">
						<img src="http://cover.read.duokan.com/mfsv2/download/s010/p01yfPOuJRok/dQJSYfAnD3AB42.jpg!ss" height="113" width="86">
					</div>
					<div class="summary">
						<h1 class="title">盗墓笔记</h1>
						<p class="author">南派三叔</p>
						<div class="last">最新: 《后记》</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
</section>