
<section class="index-top">
	<a href="/search" class="top-search">
		<i class="search-icon"></i>
		<span>输入书名/作者/关键字</span>
	</a>
	<div class="top-slider">
		<div>
			<a :href="top[0].reference_id">
				<img class="slider-img" :src="top[0].ad_pic_url" width="100%">
			</a>
		</div>
	</div>
	<ul class="top-footer">
		<li class="footer-item">
		<a href="javascript:;">
			<i></i>
			<p>男生</p>
		</a>
		</li>
		<li class="footer-item">
		<a href="javascript:;">
			<i></i>
			<p>女生</p>
		</a>
		</li>
		<li class="footer-item">
		<a href="/category">
			<i></i>
			<p style="color: #f60">点我</p>
		</a>
		</li>
		<li class="footer-item">
		<a href="javascript:;">	
			<i></i>
			<p>排行</p>
		</a>
		</li>
	</ul>
</section>